<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/head.html'%}
    <title>Document</title>
</head>
<body>
    {% include 'base/navbar.html'%}

    <form method="post">
        {% csrf_token %}
    <input type="text" value="{{updateplayer.name}}" name="name">
    <input type="text" value="{{updateplayer.team}}" name="team">
    <input type="text" value="{{updateplayer.backnumber}}" name="backnumber">
    <input type="text" value="{{updateplayer.coach}}" name="coach">
    <input type="text" value="{{updateplayer.salary}}" name="salary">
    <button>저장</button>
    </form>
</body>
</html>